extends ../layout

block content
  .page-header
        
  .page-header
    h3 Update Account

  form.form-horizontal(action='/account/update', method='POST')
    .form-group
     
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', value="#{email}",  name='email', id='email')
        input(type="hidden",id="id", name= 'id',value="#{id}")
      .col-sm-offset-3.col-sm-4
    .form-group
        label.col-sm-3.control-label(for='password') New Password
        .col-sm-7
          input.form-control(type='password', name='password', id='password', placeholder='Password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
   


        br
        button.btn.btn-primary(type='submit')
          | Update

