if messages.errors
  .alert.alert-danger.fade.in
    button.close(type='button', data-dismiss='alert')
      i.fa.fa-times-circle-o
    for error in messages.errors
      div= error.msg
if messages.info
  .alert.alert-info.fade.in
    button.close(type='button', data-dismiss='alert')
      i.fa.fa-times-circle-o
    for info in messages.info
      div= info.msg
if messages.success
  .alert.alert-success.fade.in
    button.close(type='button', data-dismiss='alert')
      i.fa.fa-times-circle-o
    for success in messages.success
      div= success.msg
//- [{ __v: 0,
//-     password: '$2a$10$v0FIEkE7oNP1Gv9dH9P9vO.HUSDGqly4h95CrueC9TToH40Q2WRKq',
//-     email: 'waqaramjad345@gmail.com',
//-     _id: 5bb32cb58aeb239198a5e6da },
//-   { __v: 0,
//-     password: '$2a$10$6to4/QmcpItF3YYAVJSeC.sS4D0q5FQqQ03TS4rYSbKQXn./jWjZK',
//-     email: 'waqaramjad34522@gmail.com',
//-     _id: 5bb356e38aeb239198a5e6db },
//-   { __v: 0,
//-     password: '$2a$10$MyV0Xdxws9g.V2Y7Z.epuOkulPAmpIb1k4uJK7cDJHFUeU88WgLKW',
//-     email: 'admin@gmail.com',
//-     _id: 5bb35ca07daa0c9458403650 },
//-   { __v: 0,
//-     password: '$2a$10$OzzvorNrcmVgQ78511aphuD/gWc.5mq0aWc5/O24o/yiZ9OaqsdTa',
//-     email: 'headeralishah@gmail.com',
//-     _id: 5bb4e62407ad65a63c573087 },
//-   { __v: 0,
//-     password: '$2a$10$tQHLJBI3.8xQxIInSnWCd.uGaK0vGt7QeA4SxWizSGrYrRAekCD6m',
//-     email: 'headeralishah1@gmail.com',
//-     _id: 5bb5735f1e8104c42552b7a2 },
//-   { __v: 0,
//-     password: '$2a$10$j0R5todFdjNZ.T15Gw5/2.pVmv7H78eHdKu2YIr0pFZEZ8QisV0Fi',
//-     email: 'abc@gmail.com',
//-     _id: 5bb5f878bfcdd6742472268d },
//-   { __v: 0,
//-     password: '$2a$10$wiMHogP8MzM4C4QgAvDcm.FHNoFzAJqdFoTkrX8Gl3HtVT6P2juZO',
//-     email: 'waqaramjad345isudgfilus@gmail.com',
//-     _id: 5bb5f904c6d8ee6024829490 },
//-   { __v: 0,
//-     createdAt: 2018-10-11T11:27:37.139Z,
//-     password: '$2a$10$eZtteVtytfAb1mSHLNu/UO/yOyo68URNSBt3luvrstuxbcKyfloRu',
//-     username: 'waqaramjad345@gmail.com',
//-     _id: 5bbf33a94822721cf0e44cc4 } ]